In [20]:
## Importing Dependencies

import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier  
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [21]:
file = ('Resources/clean_data_final_week1.csv')

In [22]:
## Loading cleaned data to dataframe

df = pd.read_csv(file)
df.head()

,Age,Gender,Height (cm),weight (kg),Outcome (Type 2 Diabetes),Smokes,Drinks Alcohol,Family History of Diabetes,BMI,Cholesterol,Fasting Plasma Glucose
0,43,1,166.4,53.5,0,0.0,0.0,1,19.3,5.13,4.97
1,59,0,165.0,63.0,0,0.0,0.0,0,23.1,4.50,5.50
2,31,0,161.5,58.5,0,0.0,0.0,0,22.4,4.48,5.10
3,25,1,157.0,50.0,0,0.0,0.0,0,20.3,4.05,4.85
4,66,0,156.0,60.5,0,1.0,0.0,0,24.9,4.67,6.31

In [23]:
df.columns.to_list()

['Age',
 'Gender',
 'Height (cm)',
 'weight (kg)',
 'Outcome (Type 2 Diabetes)',
 'Smokes',
 'Drinks Alcohol',
 'Family History of Diabetes',
 'BMI',
 'Cholesterol',
 'Fasting Plasma Glucose']

In [24]:
df = df[['Outcome (Type 2 Diabetes)','Age',
 'Gender',
 'Height (cm)',
 'weight (kg)', 'Smokes',
 'Drinks Alcohol',
 'Family History of Diabetes',
 'BMI',
 'Cholesterol',
 'Fasting Plasma Glucose' ]]

df.head()

,Outcome (Type 2 Diabetes),Age,Gender,Height (cm),weight (kg),Smokes,Drinks Alcohol,Family History of Diabetes,BMI,Cholesterol,Fasting Plasma Glucose
0,0,43,1,166.4,53.5,0.0,0.0,1,19.3,5.13,4.97
1,0,59,0,165.0,63.0,0.0,0.0,0,23.1,4.50,5.50
2,0,31,0,161.5,58.5,0.0,0.0,0,22.4,4.48,5.10
3,0,25,1,157.0,50.0,0.0,0.0,0,20.3,4.05,4.85
4,0,66,0,156.0,60.5,1.0,0.0,0,24.9,4.67,6.31

In [25]:
## Split Data

X = df.iloc[:, 1:10]
y = df.iloc[:, 0]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size=0.2)

In [26]:
#Feature Scaling

sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

In [27]:
import math
math.sqrt(len(y_test))

107.32660434393702

In [28]:
#Classifier
classifier = KNeighborsClassifier(n_neighbors=106, p=2, metric='euclidean')
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [29]:
#evaluate model
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[11308     0]
 [  211     0]]

In [30]:
# print(f1_score(y_test, y_pred))

In [31]:
print(accuracy_score(y_test, y_pred))

0.9816824377116069